<?xml version="1.0"?>
<SmsConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ApiBaseUrl>http://cf.lmobile.cn/submitdata/service.asmx</ApiBaseUrl>
  <AccountName>dlhdxscs</AccountName>
  <Password>Sb0aDkd8</Password>
  <CorpID />
  <ProductID>1012818</ProductID>
  <SendTemplate>验证码:{code}，请尽快完成操作. 验证码将于10分钟后失效【呐呢网】</SendTemplate>
  <IntervalTime>60</IntervalTime>
  <ValidTime>10</ValidTime>
  <IPLimitNumber>100</IPLimitNumber>
</SmsConfig>