<?xml version="1.0"?>
<UploadConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <FilePath>/upload</FilePath>
  <AttachExtension>gif,jpg,png,bmp,rar,zip,doc,xls,txt</AttachExtension>
  <AttachSize>51200</AttachSize>
  <VideoExtension>flv,mp3,mp4,avi</VideoExtension>
  <VideoSize>102400</VideoSize>
  <ImgExtension>gif,jpg,png</ImgExtension>
  <ImgSize>10240</ImgSize>
  <ImgMaxHeight>1000</ImgMaxHeight>
  <ImgMaxWidth>1000</ImgMaxWidth>
  <ThumbnailHeight>300</ThumbnailHeight>
  <ThumbnailWidth>300</ThumbnailWidth>
  <WatermarkType>0</WatermarkType>
  <WatermarkPosition>0</WatermarkPosition>
  <WatermarkimgQuality>80</WatermarkimgQuality>
  <WatermarkPic>watermark.png</WatermarkPic>
  <WatermarkTransparency>5</WatermarkTransparency>
  <WatermarkText>呐呢网</WatermarkText>
  <WatermarkFont>Arial</WatermarkFont>
  <WatermarkFontSize>12</WatermarkFontSize>
</UploadConfig>